/*
	@placeholder markdown
*/

markdown structural.separator {
	background-color: #474747;
	color: #ffffff;
	spell-check: disabled;
}

markdown url {
	color: #2F6F9F;
	spell-check: disabled;
}

markdown keyword.reference {
	color: #4e279a;
	background-color: #f3f2ff;
	spell-check: disabled;
}

markdown link {
	color: #74748c;
	background-color: rgba(116,116,140,0.05);
	spell-check: disabled;
}

markdown delimiter.declarative {
	color: #444;
	background-color: #fff;
}

markdown image delimiter.declarative {
	color: #881b1b;
	background-color: #fff;
}

markdown weight {
	color: #555;
	font-weight: bold;
}

markdown slant {
	color: #555;
	font-style: italic;
}

markdown list.element {
	color: #8f8272;
	/*background-color: rgba(185,165,149,0.1);*/
}

markdown blockquote {
	background-color: #f6f6f6;
}

markdown code {
	color: #888;
	background-color: #f6f6f6;
}

markdown header {
	color: #634735;
	font-weight: bold;
	background-color: rgba(185,165,149,0.1);
}

markdown delimiter.hash {
	font-weight: normal;
	color: #888;
	background-color: #fff;
}

comment, comment>punctuation, tag.doctype, tag.doctype > *, tag.doctype > string.quoted {
	color: #AAAAAA;
	font-weight: normal;
}